# Kenya Agricultural Market Insights and Forecasting System with Sentiment Analysis Project

## BUSINESS UNDERSTANDING

### Business Overview
Economic and livelihood concerns are critical issues in Kenya, impacting a substantial portion of the population. The agricultural sector, which is a major contributor to Kenya's economy, faces numerous challenges, including price volatility, market inefficiencies, and fluctuating public sentiment. These issues directly affect farmers' and traders' livelihoods, making it essential to develop data-driven solutions to address these concerns.

### Problem Statement
Kenya's agricultural markets are characterized by significant price fluctuations across different regions and commodities. Factors such as seasonal variations, market demand, and public perception contribute to these fluctuations. For instance, maize prices can vary dramatically based on the time of year and the region, impacting farmers' decisions on when and where to sell their produce. Additionally, public sentiment, as expressed on social media platforms like Twitter, can influence market dynamics, further complicating the decision-making process for stakeholders.

### Main Objective
Develop a comprehensive system that leverages advanced data science techniques to analyze and forecast commodity prices, monitor market trends, and incorporate sentiment analysis. This system aims to provide actionable insights to farmers, traders, and policymakers, enabling informed decisions and improving market efficiency and stability. Time series forecasting will be achieved through graphical analysis. Regression analysis and sentiment analysis will play critical roles in predicting commodity prices and understanding public sentiment, respectively, thereby enhancing the overall accuracy and relevance of market predictions.

### Specific Objectives
1.	Assess Commodity Price Fluctuations

- Evaluate the price volatility of various commodities across different regions and time periods
- Identify the factors contributing to price fluctuations, such as seasonal variations, market demand, and public sentim

2.	Analyze Market Trends:
   
- Monitor market trend s and patterns in commodity prices using historical data and advanced analytics.
- Develop predictive models to forecast future market trends and price movements ent

In [1]:
import pandas as pd

In [2]:
wfpdata = pd.read_csv('Data\wfp_food_prices_ken.csv')
wfpdata.head()

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,#date,#adm1+name,#adm2+name,#loc+market+name,#geo+lat,#geo+lon,#item+type,#item+name,#item+unit,#item+price+flag,#item+price+type,#currency,#value,#value+usd
1,2006-01-15,Coast,Mombasa,Mombasa,-4.05,39.666667,cereals and tubers,Maize,KG,actual,Wholesale,KES,16.13,0.2235
2,2006-01-15,Coast,Mombasa,Mombasa,-4.05,39.666667,cereals and tubers,Maize (white),90 KG,actual,Wholesale,KES,1480.0,20.5041
3,2006-01-15,Coast,Mombasa,Mombasa,-4.05,39.666667,pulses and nuts,Beans,KG,actual,Wholesale,KES,33.63,0.4659
4,2006-01-15,Coast,Mombasa,Mombasa,-4.05,39.666667,pulses and nuts,Beans (dry),90 KG,actual,Wholesale,KES,3246.0,44.9705

In [3]:
wfpdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12865 entries, 0 to 12864
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       12865 non-null  object
 1   admin1     12825 non-null  object
 2   admin2     12825 non-null  object
 3   market     12865 non-null  object
 4   latitude   12825 non-null  object
 5   longitude  12825 non-null  object
 6   category   12865 non-null  object
 7   commodity  12865 non-null  object
 8   unit       12865 non-null  object
 9   priceflag  12865 non-null  object
 10  pricetype  12865 non-null  object
 11  currency   12865 non-null  object
 12  price      12865 non-null  object
 13  usdprice   12865 non-null  object
dtypes: object(14)
memory usage: 1.4+ MB

In [4]:
wfpdata.describe()

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
count,12865,12825,12825,12865,12825,12825,12865,12865,12865,12865,12865,12865,12865,12865
unique,229,8,22,63,62,62,9,48,14,3,3,2,5768,9408
top,2021-04-15,Rift Valley,Turkana,Nairobi,-1.283333,36.816667,cereals and tubers,Maize (white),KG,actual,Retail,KES,10.0,0.091
freq,429,5352,2722,1108,1108,1108,5803,1303,5785,8002,6458,12864,312,21

In [ ]:
import pandas as pd
import glob
import os

# Set the directory containing your CSV files
csv_directory = ".\\Data\\Products"  # Replace with the path to your directory

# Use glob to match all CSV files in the directory
csv_files = glob.glob(os.path.join(csv_directory, '*.csv'))

# Initialize an empty list to hold DataFrames
data_frames = []

# Iterate over the list of CSV files
for file in csv_files:
    # Read each CSV file into a DataFrame
    df = pd.read_csv(file)
    # Append the DataFrame to the list
    data_frames.append(df)

# Concatenate all DataFrames in the list into a single DataFrame
combined_df = pd.concat(data_frames, ignore_index=True)

combined_df
# Optionally, save the combined DataFrame to a new CSV file
#combined_df.to_csv('.\\Data\\combined_dataset.csv', index=False)

In [6]:
combined_df

,Commodity,Classification,Grade,Sex,Market,Wholesale,Retail,Supply Volume,County,Date
0,Meat Beef,-,-,-,Mbale,-,600.00/Kg,1200.0,Vihiga,2025-02-11
1,Meat Beef,-,-,-,Mbale,550.00/Kg,600.00/Kg,2000.0,Vihiga,2025-02-06
2,Meat Beef,-,-,-,Mbale,500.00/Kg,600.00/Kg,2000.0,Vihiga,2025-01-31
3,Meat Beef,-,-,-,Mbale,-,700.00/Kg,900.0,Vihiga,2025-01-28
4,Meat Beef,-,-,-,Mbale,-,500.00/Kg,700.0,Vihiga,2025-01-22
...,...,...,...,...,...,...,...,...,...,...
288473,Beans (Yellow-Green),-,-,-,Gikomba,-,150.00/Kg,NaN,Nairobi,2021-05-24
288474,Beans (Yellow-Green),-,-,-,Eldama Ravine,100.00/Kg,120.00/Kg,300.0,Baringo,2021-05-24
288475,Beans (Yellow-Green),-,-,-,Kongowea,95.56/Kg,110.00/Kg,900.0,Mombasa,2021-05-24
288476,Beans (Yellow-Green),-,-,-,Makutano West Pokot,140.00/Kg,200.00/Kg,NaN,West-Pokot,2021-05-24
288477,Beans (Yellow-Green),-,-,-,Aram,124.40/Kg,133.30/Kg,600.0,Siaya,2021-05-24

In [7]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288478 entries, 0 to 288477
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Commodity       288478 non-null  object
 1   Classification  288478 non-null  object
 2   Grade           288478 non-null  object
 3   Sex             288478 non-null  object
 4   Market          288478 non-null  object
 5   Wholesale       288478 non-null  object
 6   Retail          288478 non-null  object
 7   Supply Volume   175498 non-null  float64
 8   County          287917 non-null  object
 9   Date            288478 non-null  object
dtypes: float64(1), object(9)
memory usage: 22.0+ MB

In [11]:
combined_df.describe()

       Supply Volume
count   1.754980e+05
mean    7.809961e+03
std     4.115118e+05
min     0.000000e+00
25%     5.000000e+02
50%     1.500000e+03
75%     4.300000e+03
max     1.000000e+08

In [ ]:
# # get geographocal coordinates for the different markets
# import pandas as pd
# import time
# from geopy.geocoders import Nominatim

# # Read the combined DataFrame from a CSV file


# # Specify the column name that contains the market/place names
# location_column = 'Market'  # Adjust this if your column name is different

# # Initialize the geocoder with a custom user agent
# geolocator = Nominatim(user_agent="geo_coordinates_app")

# def get_coordinates(place):
#     """
#     Geocode a place and return the latitude and longitude.
#     If the location is not found, return (None, None).
#     """
#     try:
#         location = geolocator.geocode(place)
#         if location:
#             return location.latitude, location.longitude
#         else:
#             return None, None
#     except Exception as e:
#         print(f"Error geocoding '{place}': {e}")
#         return None, None

# # Dictionary to cache geocoding results for markets
# cache = {}

# # Lists to store the latitude and longitude for each market
# latitudes = []
# longitudes = []
# total = len(combined_df[location_column])

# # Iterate over each market and log progress using print statements
# for idx, place in enumerate(combined_df[location_column], start=1):
#     print(f"Processing {idx}/{total}: {place}")
    
#     # Check if this market's coordinates have already been retrieved
#     if place in cache:
#         lat, lon = cache[place]
#     else:
#         lat, lon = get_coordinates(place)
#         cache[place] = (lat, lon)
#         time.sleep(1)  # Pause between new requests to respect the geocoder's usage limits
    
#     latitudes.append(lat)
#     longitudes.append(lon)

# # Add the 'latitude' and 'longitude' columns to the DataFrame
# combined_df['latitude'] = latitudes
# combined_df['longitude'] = longitudes

# # Save the updated DataFrame to a new CSV file
# combined_df.to_csv("combined_with_coordinates.csv", index=False)

# print("Coordinates have been added and saved to 'combined_with_coordinates.csv'.")

In [12]:
products_df = pd.read_csv('.\\Data\\combined_with_coordinates.csv')

In [13]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288478 entries, 0 to 288477
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Commodity       288478 non-null  object
 1   Classification  288478 non-null  object
 2   Grade           288478 non-null  object
 3   Sex             288478 non-null  object
 4   Market          288478 non-null  object
 5   Wholesale       288478 non-null  object
 6   Retail          288478 non-null  object
 7   Supply Volume   175498 non-null  float64
 8   County          287917 non-null  object
 9   Date            288478 non-null  object
 10  latitude        216553 non-null  float64
 11  longitude       216553 non-null  float64
dtypes: float64(3), object(9)
memory usage: 26.4+ MB

In [14]:
products_df.describe()

       Supply Volume       latitude      longitude
count   1.754980e+05  216553.000000  216553.000000
mean    7.809961e+03       2.143137      31.049494
std     4.115118e+05      10.759230      34.416050
min     0.000000e+00     -26.265468    -134.246495
25%     5.000000e+02      -1.287675      34.598620
50%     1.500000e+03      -0.499951      36.035075
75%     4.300000e+03       0.468527      37.281099
max     1.000000e+08      59.500015     151.983363