# Kenya Agricultural Market Insights and Forecasting System with Sentiment Analysis Project

## BUSINESS UNDERSTANDING

### Business Overview
Economic and livelihood concerns are critical issues in Kenya, impacting a substantial portion of the population. The agricultural sector, which is a major contributor to Kenya's economy, faces numerous challenges, including price volatility, market inefficiencies, and fluctuating public sentiment. These issues directly affect farmers' and traders' livelihoods, making it essential to develop data-driven solutions to address these concerns.

### Problem Statement
Kenya's agricultural markets are characterized by significant price fluctuations across different regions and commodities. Factors such as seasonal variations, market demand, and public perception contribute to these fluctuations. For instance, maize prices can vary dramatically based on the time of year and the region, impacting farmers' decisions on when and where to sell their produce. Additionally, public sentiment, as expressed on social media platforms like Twitter, can influence market dynamics, further complicating the decision-making process for stakeholders.

### Main Objective
Develop a comprehensive system that leverages advanced data science techniques to analyze and forecast commodity prices, monitor market trends, and incorporate sentiment analysis. This system aims to provide actionable insights to farmers, traders, and policymakers, enabling informed decisions and improving market efficiency and stability. Time series forecasting will be achieved through graphical analysis. Regression analysis and sentiment analysis will play critical roles in predicting commodity prices and understanding public sentiment, respectively, thereby enhancing the overall accuracy and relevance of market predictions.

### Specific Objectives
1.	Assess Commodity Price Fluctuations

- Evaluate the price volatility of various commodities across different regions and time periods
- Identify the factors contributing to price fluctuations, such as seasonal variations, market demand, and public sentim

2.	Analyze Market Trends:
   
- Monitor market trend s and patterns in commodity prices using historical data and advanced analytics.
- Develop predictive models to forecast future market trends and price movements ent

In [1]:
import pandas as pd

In [2]:
wfpdata = pd.read_csv('Data\wfp_food_prices_ken.csv')
wfpdata.head()

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,#date,#adm1+name,#adm2+name,#loc+market+name,#geo+lat,#geo+lon,#item+type,#item+name,#item+unit,#item+price+flag,#item+price+type,#currency,#value,#value+usd
1,2006-01-15,Coast,Mombasa,Mombasa,-4.05,39.666667,cereals and tubers,Maize,KG,actual,Wholesale,KES,16.13,0.2235
2,2006-01-15,Coast,Mombasa,Mombasa,-4.05,39.666667,cereals and tubers,Maize (white),90 KG,actual,Wholesale,KES,1480.0,20.5041
3,2006-01-15,Coast,Mombasa,Mombasa,-4.05,39.666667,pulses and nuts,Beans,KG,actual,Wholesale,KES,33.63,0.4659
4,2006-01-15,Coast,Mombasa,Mombasa,-4.05,39.666667,pulses and nuts,Beans (dry),90 KG,actual,Wholesale,KES,3246.0,44.9705

In [3]:
wfpdata['market'].unique()

array(['#loc+market+name', 'Mombasa', 'Kitui', 'Marsabit', 'Nairobi',
       'Mandera', 'Kisumu', 'Lodwar (Turkana)',
       'Eldoret town (Uasin Gishu)', 'Nakuru', 'Kilifi', 'Kajiado',
       'Garissa', 'Marigat (Baringo)', 'Hola (Tana River)',
       'Karatina (Nyeri)', 'Vanga (Kwale)', 'Kitui town (Kitui)',
       'Makueni', 'Wote town (Makueni)', 'Kitengela (Kajiado)',
       'Garissa town (Garissa)', 'Takaba (Mandera)',
       'Marigat town (Baringo)', 'Illbissil Food Market (Kajiado)',
       'Wakulima (Nakuru)', 'Lomut (West Pokot)', 'Kongowea (Mombasa)',
       'Tala Centre Market (Machakos)', 'Kangemi (Nairobi)',
       'Makutano (West Pokot)', 'Kathonzweni (Makueni)',
       'Kaanwa (Tharaka Nithi)', 'Kibuye (Kisumu)', 'Wakulima (Nairobi)',
       'Dagahaley (Daadab)', 'Bangladesh (Mombasa)', 'Kalahari (Mombasa)',
       'Shonda (Mombasa)', 'Kawangware (Nairobi)', 'Kibra (Nairobi)',
       'Mathare (Nairobi)', 'Mukuru (Nairobi)', 'Hagadera (Daadab)',
       'Kalobeyei (Village 1)', 'Kalobeyei (Village 2)',
       'Kalobeyei (Village 3)', 'Isiolo town', 'Dandora (Nairobi)',
       'Wajir town', 'Ethiopia (Kakuma)', 'HongKong (Kakuma)', 'Kakuma 2',
       'Kakuma 3', 'Kakuma 4', 'Lodwar town', 'Mogadishu (Kakuma)',
       'Junda (Mombasa)', 'Moroto (Mombasa)', 'Dadaab town',
       'IFO (Daadab)', 'Kisumu Ndogo (Mombasa)', 'Marsabit town'],
      dtype=object)

In [4]:
import pandas as pd
import glob
import os

# Set the directory containing your CSV files
csv_directory = ".\\Data\\Products"  # Replace with the path to your directory

# Use glob to match all CSV files in the directory
csv_files = glob.glob(os.path.join(csv_directory, '*.csv'))

# Initialize an empty list to hold DataFrames
data_frames = []

# Iterate over the list of CSV files
for file in csv_files:
    # Read each CSV file into a DataFrame
    df = pd.read_csv(file)
    # Append the DataFrame to the list
    data_frames.append(df)

# Concatenate all DataFrames in the list into a single DataFrame
combined_df = pd.concat(data_frames, ignore_index=True)

combined_df
# Optionally, save the combined DataFrame to a new CSV file
combined_df.to_csv('.\\Data\\combined_dataset.csv', index=False)

In [6]:
combined_df

,Commodity,Classification,Grade,Sex,Market,Wholesale,Retail,Supply Volume,County,Date
0,Meat Beef,-,-,-,Mbale,-,600.00/Kg,1200.0,Vihiga,2025-02-11
1,Meat Beef,-,-,-,Mbale,550.00/Kg,600.00/Kg,2000.0,Vihiga,2025-02-06
2,Meat Beef,-,-,-,Mbale,500.00/Kg,600.00/Kg,2000.0,Vihiga,2025-01-31
3,Meat Beef,-,-,-,Mbale,-,700.00/Kg,900.0,Vihiga,2025-01-28
4,Meat Beef,-,-,-,Mbale,-,500.00/Kg,700.0,Vihiga,2025-01-22
...,...,...,...,...,...,...,...,...,...,...
288473,Beans (Yellow-Green),-,-,-,Gikomba,-,150.00/Kg,NaN,Nairobi,2021-05-24
288474,Beans (Yellow-Green),-,-,-,Eldama Ravine,100.00/Kg,120.00/Kg,300.0,Baringo,2021-05-24
288475,Beans (Yellow-Green),-,-,-,Kongowea,95.56/Kg,110.00/Kg,900.0,Mombasa,2021-05-24
288476,Beans (Yellow-Green),-,-,-,Makutano West Pokot,140.00/Kg,200.00/Kg,NaN,West-Pokot,2021-05-24
288477,Beans (Yellow-Green),-,-,-,Aram,124.40/Kg,133.30/Kg,600.0,Siaya,2021-05-24

In [19]:
data_with_coordinates = pd.read_csv('combined_with_coordinates.csv')

In [23]:
data_with_coordinates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288478 entries, 0 to 288477
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Commodity       288478 non-null  object
 1   Classification  288478 non-null  object
 2   Grade           288478 non-null  object
 3   Sex             288478 non-null  object
 4   Market          288478 non-null  object
 5   Wholesale       288478 non-null  object
 6   Retail          288478 non-null  object
 7   Supply Volume   175498 non-null  float64
 8   County          287917 non-null  object
 9   Date            288478 non-null  object
 10  latitude        216553 non-null  float64
 11  longitude       216553 non-null  float64
dtypes: float64(3), object(9)
memory usage: 26.4+ MB